LEDE OpenWRT support

Is there a possibility to build getdns for this router software in order to have dns over tls? There is a working build of ldns for LEDE but I don't think it works for dns over tls. Having getdns on a router is more practical than running it on a pc or laptop. Just wanted to add a request.

Thanks montvid!  We have this on our own wishlist for some time now too.  I've added the issue on the todo list for the 1.3 release.

Hey Everyone - The pull request was merged. The getdns library and stubby daemon are now available in the openwrt package trunk. 

These packages will probably not get back ported, so users that don't want to modify their feeds to point to the trunk will have to wait for the next release of openwrt. If a user doesn't mind making the modification (see below), the packages should also work on lede 17.01.4. 

src/gz reboot_packages https://downloads.openwrt.org/snapshots/packages/{instruction_set}/packages
Example: src/gz reboot_packages https://downloads.openwrt.org/snapshots/packages/mips_24kc/packages

After that, they can install the software via Luci web interface or via ssh with opkg command.

Note: I did make a change to the default deployed stubby.yml to use quad9. I thought this would be a little faster overall for a larger amount of people. This can always be changed in the package if desired (by the devs, myself, or by the user after package install).

If one of the devs would like to take over the package maintenance, that is fine with me. I just wanted to get the packages available to openwrt users.

You can visit http://phase2.builds.lede-project.org/console to see the builds. Search for:
bbab28385b91
3e56158e826a

@iamperson347 Thanks for this work - this is awesome!

Re the quad9 change, I think that is reasonable for this case. We don't include them by default in stubby at the moment for two reasons - one is that they do filter results on 9.9.9.9 which some users don't want, the other is that their TLS service is still not 'officially' supported. But we are keeping an eye on this.

Hi Sara,

You are welcome, thank you for your work on these projects. :)

I did get an issue brought up against the "tweaked" default config I put in the openwrt package:
https://github.com/openwrt/packages/issues/5552

I proposed changing to 9.9.9.10 (and equivalent IPV6 ip) so the default config does not include filtering AND supports EDNS Client-Subnet. I've been testing this on my router and it seems to work well. As you mentioned though, there are some other things that will have to just shake out over time (Official support for DNS over TLS, track record, etc.).

Oh, this is interesting. When Quad9 first launched the 9.9.9.10 address didn't do DNSSEC validation either... but looking at their website and testing it now does. So this could be an option. 

Actually...most privacy conscious folks see EDNS Client Subnet as a bad thing (a privacy leak). In stubby's default config it does send an ECS option to the recursive server requesting that the ECS option isn't sent upstream of the recursive (at the cost of potentially slower service from the resolved name), but I haven't been able to get an answer from Quad9 on whether or not they respect this option on 9.9.9.10 (it can be hard to test). Let me see if I can follow up on that.  

You could also point out that all the default servers are located in the Netherlands so will be way slower than Quad9 for anyone outside Europe. 

FWIIW - I did some testing to an authoritative I run and strangely I didn't see an ECS option in queries from 9.9.9.10 for normal queries. They may, of course, use some whitelisting.

Hmmm, so it sounds like it would beneficial to get an official answer on:

a) If quad9 honors a client's request to NOT add the client's address information to its queries if SOURCE PREFIX-LENGTH value is 0 (RFC 7871 section 7.1.2.) 
b) If quad9 uses a whitelist to determine approved upstream nameservers to send ECS information to
c) Confirmation that quad9 abides by RFC 7871 section 11.1

If quad9 does support what is described in a) above, then 9.9.9.10 may be fairly safe (from a privacy POV) to use as a default when "edns_client_subnet_private : 1" is set in the stubby config file. That would give the user a non-filtering, DNSSEC aware resolver that does NOT forward client ip information.

The other questions ('b' and 'c') would just be nice to know. Obviously, they may choose to not answer any of the questions.

Hopefully I got that right, I'm by no means an expert on this stuff :)

I've put a request in for clarification via their official support page. I'll update here with the response. 

Seems they disabled ECS completely while they implement a fix (which is why I didn't see it when I tested) that should be deployed next week sometime. I'll re-test when that is available but still waiting on the other details of the behaviour.

Interesting. I enquired around the same time you did for some additional
information. Did they say what they are fixing?


An issue with sending the option on some interfaces but not others.... They did just confirm that the fix should honour a client request with SOURCE PREFIX-LENGTH value of 0. 

So everything is working in openwrt trunk? I am using the release version. Should I close this issue?

I believe so yes.  Closing...