Multiple signatures for multiple algorithms

RFC 4035 sectino 2.2:

There MUST be an RRSIG for each RRset using at least one DNSKEY of each algorithm in the zone apex DNSKEY RRset.  The apex DNSKEY RRset itself MUST be signed by each algorithm appearing in the DS RRset located at the delegating parent (if any).

Though this does not apply to validators anymore, RFC 6840 Section 5.11 last paragraph:

This requirement applies to servers, not validators.  Validators SHOULD accept any single valid path.  They SHOULD NOT insist that all algorithms signaled in the DS RRset work, and they MUST NOT insist that all algorithms signaled in the DNSKEY RRset work.  A validator MAY have a configuration option to perform a signature completeness test to support troubleshooting.

Thanks Wouter!